<div class="page-header">
	<h4>
		<%= t("general.change_password") %>
	</h4>
</div>
<div class="container pt60">
	<%= form_for @o_single, :url => change_password_path, :html => { :class => 'form-horizontal' } do |f| %>
		<div class="control-group <%= @o_single.errors[:password].any? ? 'error' : '' %>">
	        <div class="controls">
	            <%= f.password_field :password, :class => 'input-xlarge', :placeholder => t("general.password") %>
	       		<% if @o_single.errors[:password].any? %>
	        		<span class="help-inline"><%= @o_single.errors[:password].first %></span>
	      		<% end %>
	        </div>
	    </div>
		<div class="control-group <%= @o_single.errors[:password_confirmation].any? ? 'error' : '' %>">
	        <div class="controls">
	            <%= f.password_field :password_confirmation, :class => 'input-xlarge', :placeholder => t("general.password_confirmation") %>
	       		<% if @o_single.errors[:password_confirmation].any? %>
	        		<span class="help-inline"><%= @o_single.errors[:password_confirmation].first %></span>
	      		<% end %>
	        </div>
	    </div>

		<div class="control-group <%= @o_single.errors[:first_name].any? ? 'error' : '' %>">
	        <div class="controls">
	            <%= f.text_field :first_name, :class => 'input-xlarge', :placeholder => t("general.name") %>
	       		<% if @o_single.errors[:first_name].any? %>
	        		<span class="help-inline"><%= @o_single.errors[:first_name].first %></span>
	      		<% end %>
	        </div>
	    </div>

      <div class="form-actions">
          <div class="row-fluid mb10">
              <div class="span12">
                  <%= f.submit t("general.change_password"), :class => 'btn btn-success' %>
              </div><!--/span-->
          </div><!--/row-->
      </div>
	<% end %>
</div>

