<div class="page-header">
	<h4>
		<%= t("general.profile") %>
	</h4>
</div>
<%= form_for @o_single, :url => profile_path, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :first_name, :class => 'input-xlarge', :placeholder => 'First Name' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :last_name, :class => 'input-xlarge', :placeholder => 'Last Name' %>
      </div>
    </div>

    <div class="form-actions">
        <div class="row-fluid mb10">
            <div class="span12">
                <%= f.submit t("general.save"), :class => 'btn btn-success' %>
            </div><!--/span-->
        </div><!--/row-->
    </div>
<% end %>
