<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %><% flash[:notice] = nil %></div>
<% end %>
<%= form_for @o_single, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
			<%= f.hidden_field :id, :value => params[:id] %>	
	   <div class="control-group">
      <div class="controls">
        <%= f.text_field :name, :class => 'input-xlarge', :placeholder => 'Name' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %>
      </div>
    </div>
    
    
    
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :email, :class => 'input-xlarge', :placeholder => 'Email' %>
       	<% if @o_single.errors[:email].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:email].first %></span>
      	<% end %>
      </div>
    </div>


    <div class="control-group">
      <div class="controls">
        <%= f.text_field :owner, :class => 'input-xlarge', :placeholder => 'Owner' %>
       	<% if @o_single.errors[:owner].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:owner].first %></span>
      	<% end %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :phone, :class => 'input-xlarge', :placeholder => 'Phone' %>
       	<% if @o_single.errors[:phone].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:phone].first %></span>
      	<% end %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :mobile, :class => 'input-xlarge', :placeholder => 'Mobile' %>
       	<% if @o_single.errors[:mobile].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:mobile].first %></span>
      	<% end %>
      </div>
    </div>


    
    
    

	   <div class="control-group">
      <div class="controls">
        <%= f.text_field :address, :class => 'input-xlarge', :placeholder => 'Address' %>
       	<% if @o_single.errors[:address].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:address].first %></span>
      	<% end %>
      </div>
    </div>

	   <div class="control-group">
      <div class="controls">
        <%= f.text_field :state, :class => 'input-xlarge', :placeholder => 'State' %>
       	<% if @o_single.errors[:state].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:state].first %></span>
      	<% end %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :city, :class => 'input-xlarge', :placeholder => 'City' %>
       	<% if @o_single.errors[:city].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:city].first %></span>
      	<% end %>
      </div>
    </div>
    
    

      <div class="form-actions">
          <div class="row-fluid">
              <div class="span12">
                  <%= f.submit t("general.save"), :class => 'btn btn-success' %>
                  <%= link_to t("general.back"), schools_path, :class => 'btn' %>
              </div><!--/span-->
          </div><!--/row-->
      </div>
    
<% end %>
